*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Oldenburg";
    src: url(../fonts/Oldenburg/Oldenburg-Regular.ttf) format("truetype");
}
@media screen {
    html {
        scroll-behavior: smooth;
    }
}
@media only screen and (max-width: 480px) {
    article {
        padding-top: 80px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 480px) {
    section{
        margin: 0px 10% 0px 10%;
    }
    article {
        padding-top: 80px;
    }
}
@media only screen and (min-width: 1024px) {
    nav div{
        margin: 0px 3% 0px 3%;
    }
    section {
        margin: 0px 10% 0px 10%;
    }
    #contact, #formation, #transversales, #experience {
        padding-top: 80px;
    }
    #formation div, #experience div{
        margin: 80px 0px 80px 0px;
        max-width: 400px;
    }
    .text_area{
        margin: 40px 0px 40px 50px;
        max-width: 300px;
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_about{
        background-image: url(/image/ordinateur1.jpg);
        height: 520px;
        background-repeat: no-repeat;
        background-position: top;
    }
}
body{
    font-family: 'Oldenburg', sans-serif;
    text-align: center;
    background: #f1f1f1;
    transition: 0.5s;
}
nav{
    background-color: #f1f1f1;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 1, 0.5);
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 1;
}
nav div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-block-start: 10px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
nav img {
    width: 50px;
    height: 50px;
}
.logoDW {
    display: block;
}
.logoDWB {
    display: none;
}

#burger_menu_ul{
    background-color: #f1f1f1;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    line-height: 4;
    position: fixed;
    padding-top: 100px;
    width: 200px;
    height: 100%;
    right: 0px;
    z-index: 1000;
    animation: anim_burger_menu_ul 1s both;
}
                    /*animation burger menu == > start*/

@-webkit-keyframes anim_burger_menu_ul {
    0% {
        -webkit-transform: translateX(200);
        transform: translateX(200);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes anim_burger_menu_ul {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}


                    /*animation burger menu == > end */

                    /* Switch Light&Dark ==> Start */
.switch {
    position: absolute;
    bottom: 50px;
    right: 35%;
    display: inline-block;
    width: 60px;
    height: 33px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(204, 204, 204);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(175, 175, 175);
}

input:focus+.slider {
    box-shadow: 0 0 1px #333;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
                        /* Switch Light&Dark ==> End */


                        /* theme Dark ==> start */
#ChangeTheme {
    width: 0;
    height: 0;
    opacity: 0;
}

body.dark-mode {
    background: #353535;
    color: #f1f1f1;
}
.dark-mode h1, .dark-mode h2 {
    color: #f1f1f1;
}
.dark-mode .text_area{
    background: #333;
    border: 2px solid #f1f1f1;
    box-shadow: 6px 6px 1px 0px #f1f1f1;
}

.dark-mode header nav{
    background: #353535;
    color: #f1f1f1;
}
.dark-mode #burger_menu_ul{
    background: #353535;
}
.dark-mode #burger_menu_ul a{
    color: #f1f1f1;
}
.dark-mode footer div{
    background-color: rgba(43, 40, 40, 0.667);
}
.dark-mode hr{
    background-color: rgb(249, 249, 249);
}
.dark-mode .contact_ext i {
    color: white;
}

                        /* theme Dark ==> End */  



section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
h1, h2{
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: black;
}
h3 {
    margin: 40px 0px 5px 0px;
}
h4 {
    margin: 0px 0px 10px 0px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
hr{
    margin-top: 50px;
    background-color: black;
    width: 70%;
    height: 3px;
}
#contact li{
    list-style-type: none;
    text-align: left;
    padding: 10px;
    
}
#transversales li{
    list-style-type: none;
    padding: 5%;
}
.contact_ext{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-top: 20px;
}
.contact_ext i {
    color: black;
}
.text_area{
    background-color: #f1f1f1;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 1px 0px #333;
}
.profil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}
.profil div{
    margin-left: 15%;
}
.img_profil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.footer{
    margin-top: 80px;
    width: 100%;
    height: 300px;
    background-color: rgba(226, 212, 192, 0.523);
}
.footer h2{
    padding-top: 30px;
}